<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.consumer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <!-- General Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- GPS Permission -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- GCM Permission -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.awanish.test.drawerdemo.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_sbi_mid"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        

        <!-- Activities -->
        
       <!--  <activity
            android:name=".SpendActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
          
            
            
        </activity> -->
       
        <activity
            android:name="com.consumer.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.consumer.ReviewActivity"
            android:label="@string/title_activity_review" >
        </activity>
        <activity
            android:name="com.consumer.SpendActivity"
            android:label="@string/title_activity_spend" >
        </activity>
        <activity
            android:name="com.consumer.OfferDetailsActivity"
            android:label="@string/title_activity_offer_details" >
        </activity>

        <!-- Home + Transactions -->
        <activity
            android:name="com.consumer.HomeActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity android:name="com.consumer.ManageSpendActivity" />
        <activity
            android:name="com.consumer.TransDetailActivity"
            android:screenOrientation="portrait" />

        <!-- ////  Receivers ///// -->
        <receiver
            android:name=".gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <service android:name=".gcm.GcmIntentService" />

        <!-- /////  Services //// -->

        <service android:name=".gcm.LocationUpdateService" >
            
        </service>
        
        <service android:name=".gcm.NotifDismissService" />

        <activity
            android:name="com.consumer.BlankActivity"
            android:label="@string/title_activity_blank" >
        </activity>
        <activity android:name="ShopItemDetailsActivity"></activity>
        <activity android:name="TxnSearchActivity"></activity>
    </application>

</manifest>
